recursive-include PyTango *.py
recursive-include cPyTango *.py
recursive-include IPython *.py
include LICENSE.txt

graft src
graft doc
graft tests

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
exclude setup.cfg
exclude images
exclude src/precompiled_header.hpp.gch
