recursive-include PyTango *.py
recursive-include PyTango3 *.py
recursive-include IPython *.py
recursive-include win *.sln *.vcproj
recursive-include PyTango/ipython/ipython_00_12 *

include winsetup.py

graft src
graft doc

global-exclude *.pyc
global-exclude *.pyo
exclude setup.cfg
exclude .project
exclude .ropeproject
exclude .pydevproject
exclude images/*
exclude src/precompiled_header.hpp.gch
