recursive-include PyTango *.py
recursive-include cPyTango *.py
recursive-include IPython *.py
recursive-include win *.sln *.vcproj *.vsprops *.props *.vcxproj *.vcxproj.filters

include winsetup.py

graft src
graft doc
graft tests

global-exclude *.pyc
global-exclude *.pyo
exclude setup.cfg
exclude .project
exclude .ropeproject
exclude .pydevproject
exclude images/*
exclude src/precompiled_header.hpp.gch
